.widget-box {
  background: #fff;
  border: 1px solid #E0E0E0;
  float: left;
  width: 100%;
  margin: 0 0 15px 15px;
}
.widget-header {
  background: #343a40;
}
.widget-header h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 11px 15px;
  color: #F9F9F9;
  display: inline-block;
}
.sample-widget {max-width: 47%;}
.widget-box .fa-cog {
  float: right;
  color: #fff;
  margin: 11px 11px 0 0;
  font-size: 20px;
}
.divCadastro {
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: red;
}
